*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family:'Mooli', sans-serif;
    margin: 0;
    padding:0;
    position: relative;
    background: url(./blue-gas-bottle.jpg) no-repeat center;
    background-size: contain;
}
.container{
    display: flex;
}
.outer-box{
    border: 1px solid black;
    border-radius: 20px;
    height: 400px;
    width: 1300px;
    background-color: rgba(0, 255, 255,0.3);
    backdrop-filter: blur(15px);
    margin-top: 10px;
}
aside{
    background-color: violet;
    height: 750px;
    width: 200px;
    color: black;
    position: fixed;
  
    font-size: 20px;
}
aside.collapsed{
    width: 20px;
}
aside button{
    background-color:transparent;
    border: none;
    color:black;
    cursor: pointer;
    font-size: 25px;
    outline: none;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}
aside nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 32px;
}
aside nav ul li {
    margin-bottom: 10px;
    margin-left: 20px;
    color:ghostwhite;
    border-radius: 30px 0px 0px 30px;
}

aside nav ul li:first-child{
    background: #fff;
    
}

aside nav ul li a{
    color: black;
    text-decoration: none;
    transition: color 0.3s;
    padding: 5px;
    border: 1px;
    border-radius: 5px;
    
}

aside nav ul li a:hover{
     background-color: aqua;
}

main{
    position: absolute;
    padding: 20px;
    top: -18px;
    left: 180px;
}
main input img{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
main input{
    padding: 5px;
    border-radius: 5px;
}
h1{
    color: black;
    font-size: 24px;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}
#h1{
    margin-top: 20px;
    margin-left: 30px;
    color: black;
    font-size: 24px;
}
.service{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 30px;
}
.purchase {
    background-color: #fff;
    border-radius: 8px;
    padding: 50px;
   
}.recharge {
    background-color: #fff;
    border-radius: 8px;
    padding: 50px;
   
}
.orders{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 30px;
}
.order1 {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
   
}
.order1 p{
    color: #000;
    font-size: 14px;
}

