*{
        box-sizing: border-box;
}
body{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: aliceblue;
        height: 100vh;
        background: url("./Tablet\ login-rafiki.png")  center right no-repeat violet;
        background-size:800px;
}
.login-box{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        background: aqua;
        padding: 30px;
        border-radius: 30px;
        border: 1px solid black;
        /*box-shadow: 0px 0px 0px #888888;*/
       /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;*/
        width: 500px;
}
h1 {
        text-align: center;
        font-size: 30px;
        margin-bottom: 10px;
        }
label {
        display: black;
        font-size: 20px;
        margin-bottom: 10px;
	text-align: center;
}
input[type="email"]{
	width:80%;
        padding-left: 10px;
       
        margin-bottom: 10px;
        border: 1px;
        padding: 10px;
        border-radius: 10px;
}
input[type="password"]{
        width:80%;
        padding:5px;
        margin-bottom: 20px;
        border: 1px;
        padding: 10px;
        border-radius: 10px;     
}

input[type="submit"]{
        margin-top: 30px;
        margin-bottom: 10px;
        margin-left: 5px;
        padding-top: 20px;
        background: violet;
        color: yellow;
        border:none;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        width: 100px;
       text-decoration: none;
}
.btn{
        margin-bottom: 10px;
        margin-left: 20px;
        padding-top: 80px;
        background: violet;
        color: yellow;
        border:none;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        width: 100px;
       text-decoration: none;
}
input[type="submit"]:hover{
        background: blue;	
}
.btn:hover{
        background: blue;
}
span:first-of-type{
        float: right;
}
.span{
        padding-top: 30px;
}
.signup-box{
        width: 400px;
        margin-top: auto;
        padding: auto;
        background: aqua;
        padding: 20px;
        border-radius: 30px;
        box-shadow: 0px 0px 0px #888888;
        vertical-align: middle;
        border: 1px solid black;
}
input[type="text"]{
	width:80%;
        padding-left: 10px;
        margin-bottom: 10px;
        border: 1px;
        padding: 10px;
        border-radius: 10px;
}
input[type="number"]{
	width:80%;
        
        margin-bottom: 10px;
        border: 1px;
        padding: 10px;
        border-radius: 10px;
}
.forgot-pw{
        width: 400px;
        margin: auto;
        padding: auto;
        background: aqua;
        padding: 20px;
        border-radius: 30px;
        box-shadow: 0px 0px 0px #888888;
        vertical-align: middle;
        border: 1px solid black;
}
