/* Custom css user style made by Jeandoe */

/* Imports parts starts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Rubik+Scribble&display=swap');

/* Initialisation */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    list-style-type: none;
}
*::selection{
    background: var(--main-clr);
    color: var(--white);
}
/* Declaration of root variables */

:root{
    /* colors */
    --main-clr: #428dff;
    --white: #fff;
    --black: #222325;
    --light-clr: #888;
    --light-bg: #faf9f9;
    --red: #ed5687;

    /*  borders */
    --border0: 1px solid rgba(0,0,0,.15);
    --border1: 1px solid rgba(0,0,0,.35);

    /* shadows */
    --shadow0: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    --shadow1: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    --shadow2: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

    /* fonts */
    --body-font: 'Roboto', Arial, sans-serif;
    --artist-font: 'Rubik Scribble', Arial, sans-serif;
}

/* Base of code */

html{
    scroll-behavior: smooth;
    font-size: 95%;
    overflow-x: hidden;
}

body{
    font-family: var(--body-font);
    font-size: .938rem;
    font-weight: normal;
    color: var(--black);
    background: var(--light-bg);
}

input,textarea{
    color: var(--black);
    display: block;
    font-family: var(--body-font);
}

/* Reusables Classes */

.heading{
    /* font-family: var(--artist-font); */
    font-weight: normal;
    font-size: 1.2rem;
    margin: 1rem 0;
    text-align: center;
}

/* btns */

.btn{
    display: inline-block;
    background: var(--light-bg);
    font-size: 1rem;
    color: var(--black);
    cursor: pointer;
    padding: 0.6rem 1.5rem;
    letter-spacing: .02rem;
    text-transform: capitalize;
    transition: color .3s linear;
    box-shadow: var(--shadow0);
}

.btn:hover{
    color: var(--main-clr);
}

/* links */

.link{
    color: var(--main-clr);
    text-decoration: underline;
}

.link:hover{
    color: var(--light-clr);
}

/* form_container starts */


.form_container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form_container form{
    width: 100%;
    padding: 1rem;
    background: var(--white);
    box-shadow: var(--shadow0);
}

.form_container .login{
    max-width: 23rem;
}

.form_container form label{
    display: block;
    color: var(--light-clr);
}

.form_container form label span{
    color: var(--red);
    vertical-align: middle;
}

.form_container form .box{
    width: 100%;
    background: var(--light-bg);
    font-size: 0.938rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.form_container form p{
    text-align: center;
    margin: 0.5rem 0;
    font-weight: 300;
}

.form_container form .btn{
    /* max-width: 8rem; */
    width: 100%;
    display: inherit;
    margin: 0 auto;
}
